Localization
{
	en-us
	{
		#autoLOC_KOOSE0001 = Eskape Kapsule Pty Ltd
		#autoLOC_KOOSE0002 = A long standing kompany formed many years ago by the mergers of two laxative manufacturers.  They've been making laxative kapsules for over a century, but in the last few decades have branched into lifeboats and space pods mostly due to confusion over their name.
		#autoLOC_KOOSE0003 = KOOSE Heat Shield
		#autoLOC_KOOSE0004 = The chief "I don't want to burn to death" component of the Kerbal Orbital Operations Safety Equipment.  This attaches on the bottom of the pod.  Default levels of high technology nano ablator (aka cork) are suifficient for LKO.  For more aggressive descent profiles, the heat shield is orderable with extra leyers of HTNA.
		#autoLOC_KOOSE0005 = Chute for the KOOSE
		#autoLOC_KOOSE0006 = This small parachute unit fits in the top of the Kerbal Orbital Operations Safety Equipment and provides deceleration towards the end of your journey.
		#autoLOC_KOOSE0007 = KOOSE Pod
		#autoLOC_KOOSE0008 = Originally planned as the Kerbal Out of Space Economically, the name was changed to Kerbal Orbital Operations Safety Equipment.  The pod is a minimal reentry vehicle for a single Kerbal.  A small deorbit charge is included as four small SRBs.  RCS is available, and can be used to extend the deorbit deltaV if needed.  A small radio beacon is included for no extra charge.  Use with matching heatshield and parachute unit to maintain warranty.
		#autoLOC_KOOSE0009 = KOOSE Nest
		#autoLOC_KOOSE0010 = A 2.5m part with space for six KOOSE pods.  It's not technically capable of docking, only undocking.
		#autoLOC_KOOSE0011 = KOOSE Solo Nest
		#autoLOC_KOOSE0012 = A surface attachable decoupling node to attach KOOSE pods to.

	}
ru
    {
        #autoLOC_KOOSE0001 = ООО "Спасительные Капсулы"
        #autoLOC_KOOSE0002 = Испытанная временем компания, образованная много лет назад в результате слияния двух производителей противозапроных средств. Они производят слабительные капсулы уже более века, но в последние несколько десятилетий переключились на спасательные, в основном из-за путаницы в названии.
        #autoLOC_KOOSE0003 = Тепловой щит КООСЭ
        #autoLOC_KOOSE0004 = Ключевой "Я Не Хочу Поджариться Заживо" компонент Кербальской Орбитально-Ориентированной Спасательной Экипировки.  Прикрепляется снизу капсулы.  Встроенного количества Высокотехнологичного Нано Аблятора (также известного как "Пробка") достаточно для НКО.  Для более агрессивного спуска в атмосферу существуют щиты с большим количеством слоев ВНА.
        #autoLOC_KOOSE0005 = Паращют КООСЭ
        #autoLOC_KOOSE0006 = Этот небольшой парашют подходит к верхней части Кербальской Орбитально-Ориентированной Спасательной Экипировки и обеспечивает торможение к концу вашего путешествия.
        #autoLOC_KOOSE0007 = Капсула КООСЭ
        #autoLOC_KOOSE0008 = Первоначально запланированное как "Кербальский Ограниченный Отсек Сверх-Эконом", название было изменено на "Кербальская Орбитально-Ориентированная Спасательная Экипировка". Эта капсула - минимальное средство для спуска в плотные слои атмосферы на одного кербонавта. Сход с орбиты производится четырьмя небольшими ТТУ. Наличествует РСУ, который может быть использован для увеличения дельта-V при необходимости. Небольшой радиомаячок включен бесплатно. Используйте с соответствующим теплозащитным щитом и парашютом, чтобы сохранить гарантию.
        #autoLOC_KOOSE0009 = Гнездо КООСЭ
        #autoLOC_KOOSE0010 = Деталь диаметром 2,5м для крепления шести капсул Кербальской Орбитально-Ориентированной Спасательной Экипировки.  Поддерживается отсоединение, но не присоединение.
        #autoLOC_KOOSE0011 = Одиночное гнездо КООСЭ
        #autoLOC_KOOSE0012 = Узел крепления капсул КООСЭ для монтирования радиально на поверхности.
	}
	es-es
	{
		#autoLOC_KOOSE0001 = Kapsula Eskape Pty Ltd
		#autoLOC_KOOSE0002 = Una empresa de larga estancia formada hace muchos años por las fusiones de dos fabricantes de laxantes.  Han estado fabricando cápsulas laxantes durante más de un siglo, pero en las últimas décadas se han ramificado en botes salvavidas y cápsulas espaciales principalmente debido a la confusión sobre su nombre.
		#autoLOC_KOOSE0003 = KOOSE Escudo térmico
		#autoLOC_KOOSE0004 = El componente principal "No quiero quemarme hasta la muerte" del Equipo de seguridad de operaciones orbitales de Kerbal.  Esto se conecta en la parte inferior de la cápsula.  Los niveles predeterminados de nano ablator de alta tecnología (también conocido como corcho) son suficientes para OBK.  Para perfiles de descenso más agresivos, el escudo térmico puede ordenarse con capas adicionales de HENNA.
		#autoLOC_KOOSE0005 = Paracaídas para KOOSE
		#autoLOC_KOOSE0006 = Esta pequeña unidad de paracaídas cabe en la parte superior del equipo de seguridad de operaciones orbitales de Kerbal y proporciona desaceleración hacia el final de su viaje.
		#autoLOC_KOOSE0007 = KOOSE Cápsula
		#autoLOC_KOOSE0008 = Originalmente planeado como Kerbal Económicamente Fuera del Espacio, el nombre fue cambiado a equipo de Seguridad de Operaciones Orbitales Kerbal.  El pod es un vehículo de reingreso mínimo para un solo Kerbal.  Se incluye una pequeña carga de deceleración como cuatro pequeños SRB.  RCS está disponible, y se puede usar para extender el deltaV de reentrada si es necesario.  Se incluye una pequeña radiobaliza sin cargo adicional.  Úselo con el protector térmico y la unidad de paracaídas correspondientes para mantener la garantía.
		#autoLOC_KOOSE0009 = KOOSE "Nido"
		#autoLOC_KOOSE0010 = Una parte de 2.5m con espacio para seis Cápsulas KOOSE.  No es técnicamente capaz de atracar, solo desacopla.
		
	}
	zh-cn
	{}
	ja
	{}
}
